head{
    background-image: url("image/eso.jpg");
    text-align: center;
    font-size: 50px;
}
body{
    background-image: url("image/eso.jpg");
    color: lawngreen;
    text-size-adjust: 100%;
    text-align: center;
    border: 4px limegreen;
    font-size: 50px;
}
td #id{
    border: 4px solid pink;
    text-align: center;
}
img{
    border: 10px solid greenyellow;
}
label{
    font-size: 50px;
    scale: 10%;

}